<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="dirPath" value="D:\Testt\"/>
    <add key="destDir" value="D:\Testt2\"/>
    <add key="dbConnInfo" value="Data Source=MARIUSCST-MBL;Initial Catalog=CsvDatabase;Persist Security Info=True;User ID=sa;Password=1234%asd"/>
  </appSettings>
  
</configuration>